:root {
    --corpoMain: #3a44fd;
    --fundoSec: #FCCD0F;
    --fundoMain: #27a2fa;
    --corpoSec: #FCFC0F;
    --pontoMain: #4247A7;
    --borda: 2px solid #06001d;
    --texto: #000000;
    --fontMain: Helvetica;
}

body {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
    background-color: #040018;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--texto);
}

.logo-catalog {
    height: 100%;
}

.main {
    padding: 20px;
    grid-column: 2/6;
    height: 100vh;
    width: 96%;
    background-color: var(--fundoMain);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: var(--fontMain);
    border: var(--borda);
}

.aside {
    padding: 10px;
    height: 100vh;
    width: 96%;
    grid-column: 1 / 2;
    background-color: var(--fundoSec);
    display: flex;
    align-items: center;
    border: var(--borda);
}

.nav {
    height: 50%;
    width: 100%;
    background-color: var(--corpoSec);
    font-family: var(--fontMain);
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    height: 10%;
    width: 100%;
    background-color: var(--pontoMain);
    display: flex;
    flex-direction: row;
}


.section {
    height: auto;
    width: 100%;
    background-color: var(--corpoMain);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.article {
    width: auto;
    background-color: var(--pontoMain);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: var(--borda);
    cursor: pointer;
    text-align: center;
}

.article:hover {
    transform: scale(1.2);
}

.games-cover {
    width: 120px;
    height: 170px;
}