body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.header{
    background-color: aqua;
    width: 100%;
    height: 8vh;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: green;
}